body {
    color: #555;
    background: #222;
    text-align: center;
    font-family: 'Roboto Mono';
    padding-bottom: 300px;
}


.a_buttons {
    display: inline-block;
    padding: 10px 20px;
    margin: 2px;
    text-decoration: none;
    color: rgba(205, 198, 60, 0.8);
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.report {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    color: rgba(205, 198, 60, 0.8);
    background-color: #555;
    position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
    z-index: 1000;
    bottom: 15px; /* Прижимаем к нижней части */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Точное центрирование кнопки */
    /* Добавьте стили для кнопки по желанию */
}
/* .p_report {
    writing-mode: horizontal-tb;
    text-orientation: upright;
}
.a_report {
    writing-mode: horizontal-tb;
    text-orientation: upright;
} */

.nav_pages {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav_pages > *:not(:first-child) {
    margin-left: 5px;
}
.page {
    text-decoration: none;
    font-size: 50px;
}


.title {
    padding: 10 30 10 30px;
    /* gap: 5px; */
    /* height: 40px; */
    width: 100%;
    display: flex;
    /* Add flexbox properties */
    justify-content: center;
    /* Center the child horizontally */
    align-items: center;
    flex-direction: column;
}
.title_item {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 25px;
    margin: 15px 0;
    width: 100%;
    color: rgba(205, 198, 60, 0.8);
}


.card-content {
    padding: 10 30 10 30px;
    /* gap: 5px; */
    /* height: 40px; */
    width: 100%;
    display: flex;
    /* Add flexbox properties */
    justify-content: center;
    /* Center the child horizontally */
    align-items: center;
    flex-direction: column;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
    cursor: pointer;
    width: 80%;
}

.buttons {
    cursor: pointer;
    width: 100%;
}

.buttons_style {
    margin: 1px;
    background-color: #333; /* Цвет фона кнопки */
  color: rgba(218, 215, 177, 0.8); /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Закругленные углы */
  font-size: 16px; /* Размер текста */
  cursor: pointer; /* Изменение курсора при наведении */
}
.buttons_style:hover {
    background-color: #555; /* Цвет фона кнопки при наведении */
}
.buttons_style:disabled {
    opacity: 0.5; /* Уменьшение прозрачности для обозначения неактивного состояния */
    cursor: not-allowed; /* Изменение курсора на "недоступный" */
    /* Дополнительные стили, если нужно */
  }

.arfont {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 25px;
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
    color: rgba(205, 198, 60, 0.8);
}

.rusfont {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 25px;
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
    color: rgba(218, 215, 177, 0.8);
}

